html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #151515;
}

.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.header {
  background-color: #151515;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 45px;
}

.menu-list {
  display: flex;
  gap: 35px;
}

.menu-list-link {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.menu-list-link-active {
  color: #0066ff;
}

.top {
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.title {
  font-weight: 700;
  font-size: 96px;
  padding-bottom: 38px;
}

.top-link {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  max-width: 430px;
  width: 100%;
  padding: 23px;
  background-color: #151515;
  text-transform: uppercase;
}

.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(21, 21, 21, 0.3);
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.why-lease {
  padding: 150px 0;
}

.why-lease-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-lease-item-img {
  margin: 0 auto 30px;
}

.why-lease-item-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.why-lease-item-text {
  text-align: left;
}

.how-does {
  padding-bottom: 150px;
}

.how-does-inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does-title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 24px;
}

.how-does-list {
  padding: 50px 0 70px;
  counter-reset: how-does-counter;
}

.how-does-item {
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}

.how-does-item + .how-does-item {
  margin-top: 40px;
}

.how-does-item::before {
  counter-increment: how-does-counter;
  content: counter(how-does-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0066ff;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  position: absolute;
  left: 0;
  top: 0;
}

.video {
  padding-bottom: 150px;
}

.video-title {
  margin-bottom: 20px;
}

.video-text {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.video-content {
  display: block;
  margin: 0 auto;
}

.important {
  padding-bottom: 150px;
}

.important-title {
  margin-bottom: 20px;
}

.important-text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.important-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.important-item-img {
  margin-bottom: 20px;
}

/* ********************************** */
/* ************ CONTACTS ************ */

.contacts {
  padding: 100px 0 150px;
}

.contacts-title {
  margin-bottom: 20px;
}

.contacts-text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 50px;
  padding: 0 100px;
}

.contacts-form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-form-input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #151515;
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid #0066ff;
  margin-bottom: 50px;
}

.contacts-form-input::placeholder,
.contacts-form-textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #151515;
  opacity: 0.5;
}

.contacts-form-textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #151515;
  width: 100%;
  height: 290px;
  resize: none;
  border: 1px solid #0066ff;
  padding: 28px 20px;
  margin-bottom: 50px;
}

.contacts-form-btn {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  padding: 13px 61px;
  margin: 0 auto;
}

.blog {
  padding-bottom: 150px;
}

.blog-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-item-img {
  width: 100%;
  margin-bottom: 30px;
}

.blog-item-title {
  flex-basis: 450px;
  font-weight: 700;
  font-size: 24px;
}

.blog-item-link {
  color: #fff;
  line-height: 21px;
  padding: 4px 21px;
  background-color: #0066ff;
}

.showmore-link {
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background: #151515;
  padding: 13px;
  display: block;
  text-align: center;
  width: 223px;
  margin: 0 auto;
}

/* ********************************** */
/* ************* CHOOSE ************* */

.choose {
  padding: 100px 0 150px;
}

.tabs {
  margin-bottom: 70px;
}

.tabs-btn {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 100px;
}

.tabs-btn-item {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tabs-btn-item-active {
  color: #0066ff;
}

.tabs-content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}

.tabs-content-item.tabs-content-item-active {
  display: grid;
}

.card {
  text-align: center;
}

.card-content {
  padding: 0 5px;
  border: 1px solid #0066ff;
  border-top: 0;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 20px;
}

.cars-text {
  margin-bottom: 20px;
}

.card-price {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.card-link {
  display: block;
  border: 1px solid #06f;
  border-top: 0;
  padding: 2px 49px;
  color: #06f;
}

/* ********************************** */
/* ************* FOOTER ************* */

.footer {
  padding: 50px 0 32px;
  background-color: #151515;
  color: #fff;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 50px;
}

.foter-menu-list-box {
  width: 270px;
  display: flex;
  justify-content: center;
}

.footer-menu-list {
  max-width: 250px;
}

.footer-menu-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.footer-menu-item + .footer-menu-item {
  padding-top: 20px;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer-copy {
  max-width: 805px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto 30px;
}

.footer-copy-link {
  text-decoration: underline;
}

.copy-nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
